body {
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

.container {
  padding: 0 30px;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.section-ttl {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.04em;
}

@media (max-width: 767px) {
  .section-ttl {
    font-size: 28px;
  }
}

.more-btn {
  color: #fff;
  background-color: #000;
  width: 160px;
  padding: 13px 44px;
  font-weight: bold;
  font-size: 12px;
}

.more-btn:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 92%;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  position: fixed;
}

.header-logo {
  color: #000;
  width: 260px;
  margin-top: 16px;
  margin-left: 4vw;
}

.header-logo:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 767px) {
  .header-logo {
    width: 189px;
  }
}

.header-logo.black {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

.nav-drawer {
  position: relative;
  display: block;
}

.nav-drawer__checkbox {
  display: none;
}

.nav-drawer__icon {
  cursor: pointer;
  display: block;
  width: 36px;
  height: 40px;
  position: fixed;
  right: 4vw;
  top: 16px;
}

.nav-drawer__icon:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 767px) {
  .nav-drawer__icon {
    top: 8px;
  }
}

.nav-drawer__icon--parts, .nav-drawer__icon--parts:before, .nav-drawer__icon--parts:after {
  background-color: #fff;
  display: block;
  width: 32px;
  height: 3px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.nav-drawer__icon--parts:before, .nav-drawer__icon--parts:after {
  content: " ";
}

.nav-drawer__icon--parts:before {
  top: 20px;
}

.nav-drawer__icon--parts:after {
  top: -20px;
}

.nav-drawer__icon--parts--black, .nav-drawer__icon--parts--black:before, .nav-drawer__icon--parts--black:after {
  background-color: #000;
  display: block;
  width: 32px;
  height: 3px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.nav-drawer__icon--parts--black:before, .nav-drawer__icon--parts--black:after {
  content: " ";
}

.nav-drawer__icon--parts--black:before {
  top: 20px;
}

.nav-drawer__icon--parts--black:after {
  top: -20px;
}

.nav-drawer__overlay {
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.nav-drawer__menu {
  background: #000;
  color: #fff;
  width: 35vw;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: -100%;
  padding-top: 120px;
}

@media (max-width: 767px) {
  .nav-drawer__menu {
    width: 67.7vw;
  }
}

@media (max-width: 413px) {
  .nav-drawer__menu {
    padding-top: 80px;
  }
}

.nav-drawer__icon, .nav-drawer__txt {
  z-index: 4;
}

.nav-drawer__menu {
  z-index: 3;
}

.nav-drawer__overlay {
  z-index: 2;
}

.nav-drawer__checkbox:checked ~ .nav-drawer__icon .nav-drawer__icon--parts {
  background: transparent;
}

.nav-drawer__checkbox:checked ~ .nav-drawer__icon .nav-drawer__icon--parts:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}

.nav-drawer__checkbox:checked ~ .nav-drawer__icon .nav-drawer__icon--parts:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.nav-drawer__checkbox:checked ~ .nav-drawer__icon .nav-drawer__icon--parts--black {
  background: transparent;
}

.nav-drawer__checkbox:checked ~ .nav-drawer__icon .nav-drawer__icon--parts--black:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  background-color: #fff;
}

.nav-drawer__checkbox:checked ~ .nav-drawer__icon .nav-drawer__icon--parts--black:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  background-color: #fff;
}

.nav-drawer__checkbox:checked ~ .nav-drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.nav-drawer__checkbox:checked ~ .nav-drawer__menu {
  right: 0;
}

.nav-drawer__icon--parts, .nav-drawer__icon--parts:after, .nav-drawer__icon--parts:before, .nav-drawer__overlay, .nav-drawer__menu {
  -webkit-transition: all .7s;
  transition: all .7s;
}

.nav-drawer__icon--parts--black, .nav-drawer__icon--parts--black:after, .nav-drawer__icon--parts--black:before {
  -webkit-transition: all .7s;
  transition: all .7s;
}

.nav-drawer__txt {
  color: #fff;
}

.nav-drawer__list {
  text-align: center;
}

.nav-drawer__item {
  margin-bottom: 30px;
}

.nav-drawer__item--link {
  color: #fff;
  font-weight: bold;
}

.nav-drawer__item--link img {
  width: 45px;
}

.footer {
  background-color: #525252;
}

.copy {
  font-size: 10px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ctaMv {
  height: 50vh;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(54%, #fff), color-stop(54%, #000), to(#000));
  background: linear-gradient(90deg, #fff 0%, #fff 54%, #000 54%, #000 100%);
  margin-bottom: 120px;
}

.ctaMv-inner {
  width: 76.4%;
  height: 86.5%;
  background-image: url("../img/contact-head@2x.png");
  background-size: cover;
  background-position: center 0;
  position: relative;
}

.ctaMv-inner--shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.34);
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ctaMv-ttl {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(45%, -50%);
          transform: translate(45%, -50%);
}

@media (max-width: 767px) {
  .ctaMv-ttl {
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
  }
}

.ctaMv-ttl__main {
  font-size: 72px;
  line-height: 84px;
  font-weight: bold;
  letter-spacing: 0.04em;
}

@media (max-width: 767px) {
  .ctaMv-ttl__main {
    font-size: 52px;
  }
}

@media (max-width: 413px) {
  .ctaMv-ttl__main {
    font-size: 46px;
  }
}

.ctaMv-ttl__sub {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .ctaMv-ttl__sub {
    font-size: 16px;
  }
}

input, textarea {
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
}

label, input[type="checkbox"] {
  cursor: pointer;
}

.ctaDetail {
  max-width: 700px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
}

.ctaDetail-note {
  margin-bottom: 55px;
  line-height: 24px;
}

.ctaDetail-form__item {
  margin-bottom: 45px;
}

.ctaDetail-form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .ctaDetail-form__radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ctaDetail-form__radio--item {
  margin-bottom: 15px;
}

.ctaDetail-form__radio--item:last-of-type {
  margin-bottom: 0;
}

.ctaDetail-form__radio--btn {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}

.ctaDetail-form__radio--btn:checked {
  background-color: #000;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #000;
          box-shadow: 0 0 0 1px #000;
}

.ctaDetail-form__radio--btn:hover {
  cursor: pointer;
}

.ctaDetail-form__radio--ttl {
  margin-right: 50px;
  margin-left: 10px;
  vertical-align: -2px;
}

.ctaDetail-form__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaDetail-form__txt--radio {
  margin-bottom: 20px;
}

.ctaDetail-form__box {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ctaDetail-form__box--lg {
  height: 200px;
}

.ctaDetail-policy {
  margin-bottom: 40px;
  line-height: 24px;
}

.ctaDetail-policy__ttl {
  font-weight: bold;
  margin-bottom: 10px;
}

.ctaDetail-policy__cont {
  padding: 10px 10px 0 10px;
  overflow: auto;
  border: 1px solid #333;
  height: 252px;
}

.ctaDetail-policy-txt {
  line-height: 1.5;
}

.ctaDetail-checkBox {
  margin-bottom: 40px;
  text-align: center;
}

.must {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 4px 5px;
  margin-left: 10px;
}

.submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  padding: 10px 66px;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=contact.css.map */